<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="fragment/imports :: imports"></th:block>
    <link th:href="@{/css/simplePagination.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:inline="javascript" >
        /*<![CDATA[*/
        $(function() {
            $("#main-pagination").pagination({
                pages: /*[[${totalPage}]]*/,
                cssStyle: "compact-theme",
                hrefTextPrefix: "/user/myPosts?page=",
                hrefTextSuffix: '',
                currentPage: /*[[${param.page == null} ? '1' : ${param.page}]]*/
        });
        });
        /*]]>*/
    </script>

</head>

<body>


<!-- navbar -->
<th:block th:replace="fragment/header :: header"/>


<!-- all content -->
<div class="container mainDiv">


    <section class="MainResult">
        <div class="row mainResultRow">
            <th:block th:each="post : ${myPosts}">
                <div class="col-md-4 adDivSearchCol">

                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" th:src="@{'/uploads/'+${post.postImages.get(0).getImagePath()}}" alt="">
                        <span class="sale">[[${#strings.capitalize(post.postType)}]]</span>
                        <p class="city" th:inline="text">
                            <i class="fa fa-map-marker"></i> [[${post.city.cityName}]]
                        </p>
                        <th:block sec:authorize="isAuthenticated()">
                            <i th:id="${post.idPost}" style="cursor: pointer" th:if="${#authentication.getPrincipal().getIdFavoritePost().contains(post.getIdPost())}" class="fa fa-star star" onclick="deleteFromFavoritePost(this.id)"></i>
                            <i th:id="${post.idPost}" style="cursor: pointer" th:if="${!#authentication.getPrincipal().getIdFavoritePost().contains(post.getIdPost())}" class="fa fa-star-o star" onclick="addToFavoritePost(this.id)"></i>
                        </th:block>
                        <p class="price" th:inline="text">
                            <i class="fa fa-dollar"></i> [[${post.price}]]</p>
                        <span class="sqmP" th:inline="text">
                                <th:block th:if="${post.postType.equals('sale')}">
                                    <i class="fa fa-dollar"> [[${#numbers.formatDecimal(post.price / post.area, 0, 2, 'POINT')} + '/sq.m ']]</i>
                                </th:block>
                            </span>
                        <p class="sqm" th:text="${post.area} + ' sq.m'"></p>
                        <span class="rooms" th:text="${post.roomCount} + ' rooms'">
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name" th:inline="text">
                                    <i class="fa fa-user"></i> [[${post.user.firstName}]] [[${post.user.lastName}]]</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> [[${post.postAge()}]]</p>
                            </li>
                            <li>
                                <a th:href="@{'/post/' + ${post.idPost}}" class="btn moreButton">MORE</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </th:block>
        </div>
    </section>
    <div class="col"  align="center">
        <div style="display: inline-block" >
            <ul id="main-pagination" class="pagination-flat center-block"></ul>
        </div>
    </div>

</div>

<th:block th:replace="fragment/footer :: footer"/>

<!--&lt;!&ndash; Jquerys !&ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="-->
        <!--crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; Bootstrap JavaScript !&ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
        <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
        <!--crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; OWl JS !&ndash;&gt;-->
<!--<script th:src="@{/js/owl.carousel.js}"></script>-->
<script>
    $('.owl-carousel').owlCarousel({
        stagePadding: 50,
        loop: true,
        margin: 70,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 2
            },
            1200: {
                items: 3
            }
        }
    });
    $(".owl-prev").html('<i class="fa fa-chevron-left"></i>');
    $(".owl-next").html('<i class="fa fa-chevron-right"></i>');
</script>
</body>

</html>