<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <keywords>PostHome.com - Search</keywords>


    <th:block th:replace="fragment/imports :: imports"/>
    <link th:href="@{/css/simplePagination.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:inline="javascript" >
        /*<![CDATA[*/
        $(function() {
            $("#main-pagination").pagination({
                pages: /*[[${totalPage}]]*/,
                cssStyle: "compact-theme",
                hrefTextPrefix:  searchLink(),
                hrefTextSuffix: '',
                currentPage: /*[[${param.page == null} ? '1' : ${param.page}]]*/
            });

            function searchLink() {
                var link = window.location.href;
                if (link === 'http://localhost:8080/search' || link.split("?page=")[0] === 'http://localhost:8080/search'){
                    return 'http://localhost:8080/search?page=';
                }else {
                    if (link.match(/&page/)) {
                        var newLink = link.substring(0, link.indexOf("&page="));
                        return newLink+"&page=";
                    }else {
                        return link+"&page=";
                    }
                }
            }

        });
        /*]]>*/
    </script>

</head>

<body>


<th:block th:replace="fragment/header :: header"/>


<div class="postIntroDiv">
    <div class="container">
        <h1 class="postIntro">Advanced search</h1>
        <span class="postAdress">
                <p>home ></p>
                <p>search</p>
            </span>
    </div>
</div>


<div class="container mainDiv">

    <section class="Mainsearch">
        <div class="row MainSearchRow">
            <form th:action="@{/search}" method="get">
                <div class="col-xs-3">
                    <input name="keywords" th:value="${advancedSearchPost.keywords}" class="ms-input ms-input-key" type="text" placeholder="Type keywords here">
                </div>
                <div class="col-xs-3">
                    <select class="ms-input" name="cityName" id="">
                        <option selected disabled>All cities</option>
                        <option th:each="city : ${cities}" th:attr="selected=${city.idCity == advancedSearchPost.idCity} ? 'true' : 'false' " th:value="${city.idCity}">[[${city.cityName}]]</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <select class="ms-input" name="postType" id="">
                        <option selected disabled value="a">All type of sales</option>
                        <option value="sale">Sale</option>
                        <option value="rent">Rent</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <button class="ms-input ms-button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-xs-3">
                    <select class="ms-input" name="homeType" id="">
                        <option selected disabled value="a">All type of properties</option>
                        <option value="flat">Flat</option>
                        <option value="apartment">Apartment</option>
                        <option value="studio">Studio</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <select class="ms-input" name="roomCount" id="">
                        <option selected disabled value="a">Rooms</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input name="miniPrice" class="ms-input" type="number" placeholder="Min. price">
                </div>
                <div class="col-xs-3">
                    <input name="maxPrice" class="ms-input" type="number" placeholder="Max. price">
                </div>
                <div class="col-xs-3">
                    <input name="miniArea" class="ms-input" type="number" placeholder="Min. area">
                </div>
                <div class="col-xs-3">
                    <input name="maxArea" class="ms-input" type="number" placeholder="Max. area">
                </div>
            </form>
        </div>
    </section>

    <section class="MainResult">
        <div class="row mainResultRow">
            <th:block th:each="post : ${searchPostList}">
                <div class="col-md-4 adDivSearchCol">

                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" th:src="@{'/uploads/'+${post.postImages.get(0).getImagePath()}}" alt="">
                        <span class="sale" th:text="${post.postType}">SALE</span>
                        <p class="city" th:inline="text">
                            <i class="fa fa-map-marker"></i> [[${post.city.cityName}]]</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price" th:inline="text">
                            <i class="fa fa-dollar"></i> [[${post.price}]]</p>
                        <p class="sqm" th:inline="text">
                            <i class="fa fa-dollar"></i> [[${post.area}]]</p>
                        <span class="rooms" th:inline="text">
                <i class="fa fa-dollar"> [[${post.roomCount}]] rooms</i>
                </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name" th:inline="text">
                                    <i class="fa fa-user"></i> [[${post.user.firstName}]] [[${post.user.lastName}]]</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> [[${post.postAge()}]]</p>
                            </li>
                            <li>
                                <a th:href="@{'/post/' + ${post.idPost}}" class="btn moreButton">MORE</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </th:block>
        </div>
    </section>
    <div class="col"  align="center">
        <div style="display: inline-block" >
            <ul id="main-pagination" class="pagination-flat center-block"></ul>
        </div>
    </div>

</div>

<th:block th:replace="fragment/footer :: footer"/>


</body>

</html>